<div id="menu">
	<ul>
		<li class="current_page_item"><a href="#">Homepage</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Photos</a></li>
		<li><%= link_to "About", about_path %></li>
		<li><a href="#">Links</a></li>
		<li><%= link_to "Contact", '#' %></li>
	</ul>
</div>